div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
a,button,input {
	transition: all ease-out .3s;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}

/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
body {
	font-family: $font_primary;
	font-size: 16px;
	line-height: 1.5;
	color: $color_main;
}
.wrapper {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.flexwrap {
	@include flexgroup();
}
.site {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Header */
.site-header {
	position: relative;
	transition: all ease-out .3s;
	background: #FFF;
	.wrapper {
		position: relative;
	}
	.flexwrap {
		@include flexbox-align-items(center);
		@include tab {
			padding-top: 25px;
			padding-bottom: 25px;
		}	
	}
	&.move-left {
		transform: translateX(-80%);
		.wrapper {
			padding-right: 0;
		}
		@include tab {
			transform: none;
		}
	}
}
.site-header, .site-header .wrapper {
	height: 70px;
	@include tab {
		height: auto;
	}
}
.logo {
	width: 200px;
	position: absolute;
	top: 10px;
	@include tab {
		position: relative;
		top: 0;
		width: 30%;
	}
	a,img {
		display: block;
		width: 160px;
		height: auto;
		float: left;
		@include tab {
			max-width: 270px;
			width: 100%;
		}
	}
}

/* Banner */
.banner-wrapper {
	height: 60vh;
	background: #CCC;
}

/* Navigation */
.donate-btn {
	display: none;
	width: 80px;
	height: 80px;
	background: $secondary;
	color: #FFF;
	text-decoration: none;
	font-family: $font_condensed2;
	font-size: 18px;
	letter-spacing: .02em;
	position: absolute;
	top: -40px;
	right: 20px;
	border-radius: 100%;
	text-align: center;
	@include tab {
		display: block;
	}
	span {
		display: block;
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 14px;
		left: 0;
	}
	&:hover {
		background: $primary;
	}
}

.main-navigation {
	display: none;
	@include tab {
		display: block;
		width: 70%;
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		li {
			position: relative;
		}
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: $primary;
	}
	ul.menu {
		display: inline-block;
		float: right;
		margin-right: -18px;
		position: relative;
		top: 10px;
	}
	ul.menu > li {
		float: left;
	}
	ul.menu > li > a {
		font-size: 16px;
		padding: 5px 18px;
	}
	ul.menu > li:hover > a {
		color: $secondary;
	}
	ul.menu > li.current_page_item > a {
		color: $secondary;
		font-weight: 500;
	}
}

/* Mobile Navigation */
#mobile-navigation {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 80%;
	height: 100%;
	background: #FFF;
	box-shadow: 0 0 12px 3px rgba(0,0,0,0.3);
	z-index: -999;
	visibility: hidden;
	transform: translateX(105%);
	transition: all ease-out .3s;
    backface-visibility: hidden;
	@include tab {
		display: none;
	}
	&.open {
		visibility: visible;
		z-index: 5000;
		transform: translateX(0);
	}
	.menuwrap {
		padding-top: 30px;
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		li {
			position: relative;
		}
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: $primary;
	}
	ul.menu {
		border-top: 1px solid #e8e8e8;
	}
	ul.menu a {
		display: block;
		font-size: 1.2rem;
		line-height: 1.3;
	}
	ul.menu > li > a {
		padding: 18px 25px 15px;
		border-bottom: 1px solid #e8e8e8;
	}
	ul.menu > li.current_page_item > a,
	ul.menu > li > a:active,
	ul.menu > li:hover > a {
		color: #FFF;
		background: $secondary;
	}
	
	.donate {
		text-align: center;
		padding-top: 30px;
	}
	.donate-btn-mobile {
		display: inline-block;
		text-decoration: none;
		color: #FFF;
		background: $secondary;
		padding: 8px 45px;
		border-radius: 80px;
		font-family: $font_condensed2;
		font-size: 22px;
		letter-spacing: .02em;
		&:hover {
			background: $primary;
		}
	}
}
body.admin-bar #mobile-navigation {
	padding-top: 50px;
}

.menu-toggle {
	display: block;
	-webkit-appearance: none;
	outline: none;
	box-shadow: none;
	text-shadow: none;
	background: #FFF;
	position: absolute;
	top: 0;
	right: 20px;
	width: 50px;
	height: 100%;
	padding: 6px;
	border: none;
	@include tab {
		display: none;
	}
	span.bar {
		position: relative;
	}
	span.bar, span.bar:before, span.bar:after {
		display: block;
		width: 100%;
		height: 5px;
		background: $primary;
		transition: all ease-in-out .3s;
	}
	span.bar:before, span.bar:after {
		content:"";
		position: absolute;
		left: 0;
	}
	span.bar:before {
		top: -11px;
	}
	span.bar:after {
		top: 11px;
	}
	&.open {
		right: 15px;
		span.bar {
			background: transparent;
		}
		span.bar:before, span.bar:after {
			background: $primary;
		}
		span.bar:before {
			transform: translateY(11px) rotate(45deg);
		}
		span.bar:after {
			transform: translateY(-11px) rotate(-45deg);
		}
	}
}

#header-overlay {
	position: fixed;
	top: 70px;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.85);
	z-index: 3000;
	display: none;
}
body.nav-open #header-overlay {
	display: block;
}

/* FOOTER */
.site-footer {
	background: $primary;
	color: rgba(255,255,255,.75);
	font-size: 13px;
	font-weight: 300;
	line-height: 1.4;
	.wrapper {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.foot-content {
		position: relative;
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-align-content(center);
		@include flexbox-justify(center);
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: rgba(255,255,255,.75);
		&:hover {
			color: rgba(255,255,255,1);
		}
	}
	.address {
		padding-left: 0;
		padding-right: 40px;
	}
	.office-email {
		margin-top: 10px;
	}
	.social-media {
		position: absolute;
		right: 0;
		a {
			display: inline-block;
			font-size: 20px;
			line-height: 1;
			margin: 3px 3px;
			&:hover {
				color: rgba(255,255,255,1);
			}
		}
	}
	.footermenu {
		@include tab {
			padding-left: 50px;
		}
	}
}
.footlogo {
	@include tab {
		position: absolute;
		left: 0;
	}
}
.footlogo img {
	opacity: 0.7;
	max-width: 150px;
}
.footermenu {
	ul.menu {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		ul {
			display: none!important;
		}
		a {
			display: inline-block;
			text-decoration: none;
			color: rgba(255,255,255,.75);
			padding: 5px 13px;
			&:hover {
				color: rgba(255,255,255,1);
			}
		}
	}
	ul.menu li {
		position: relative;
		float: left;
	}
}
